<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload a file</title>
</head>
<body>
    <form action="/upload/file" method="POST" enctype="multipart/form-data">
        <div class="progress"></div>
        <input type="file" name="myFile" id="">
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // Listening for the changes
        document.querySelector("input[name=myFile").onchange = e => {
            let file            = e.target.files[0],
                chunkSize       = 95 * 1024 * 1024,
                chunks          = [],
                data            = new FormData,
                uploadedChunks  = 0,
                progress        = document.querySelector(".progress")

            for (let start = 0; start < file.size; start += chunkSize){
                let chunk = file.slice(start, start + chunkSize)
                chunks.push(new Blob([chunk]))
            }
            
            let config = {
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
                onUploadProgress: () => {
                    let percentage = Math.round(uploadedChunks / chunks.length * 100)
                    progress.innerHTML = `File is uploading, please wait and don't refresh the page<br>Progress: ${percentage}%`
                }
            }            

            // Creating Promise chain to prevent race condition
            // This will help all files to upload one-by-one
            let promiseChain = Promise.resolve();
            chunks.forEach((chunk, i) => {
                promiseChain = promiseChain.then(() => {
                    // Adding more headers about the chunks
                    let additionalHeaders = {
                        ...{
                                "X-File-Name": file.name,
                                "X-File-Size": file.size,
                                "X-Chunk-Number": i + 1,
                                "X-Total-Chunks": chunks.length,
                                "Content-Range": `bytes 0-${chunkSize}/${file.size}`
                            }
                    }

                    Object.assign(config.headers, additionalHeaders)
                    console.log(config)
                    uploadedChunks++
                    return axios.post("/upload/file", {
                        chunks_total: chunks.length,
                        chunks_current: i + 1,
                        data: chunk,
                        filename: file.name
                    }, config);
                });
            });

            promiseChain.then(() => {
                console.log('all chunks uploaded');
            });
        }
    </script>
</body>
</html>